@-webkit-keyframes hor_move {
	0% {
		-webkit-transform: perspective(700px) rotateY(0deg);
		        transform: perspective(700px) rotateY(0deg);
	}
	12.5% {
		-webkit-transform: perspective(700px) rotateY(-10deg);
		        transform: perspective(700px) rotateY(-10deg);
	}
	25% {
		-webkit-transform: perspective(700px) rotateY(10deg);
		        transform: perspective(700px) rotateY(10deg);
	}
	37.5% {
		-webkit-transform: perspective(700px) rotateY(-10deg);
		        transform: perspective(700px) rotateY(-10deg);
	}
	50% {
		-webkit-transform: perspective(700px) rotateY(10deg);
		        transform: perspective(700px) rotateY(10deg);
	}
	62.5% {
		-webkit-transform: perspective(700px) rotateY(-10deg);
		        transform: perspective(700px) rotateY(-10deg);
	}
	75% {
		-webkit-transform: perspective(700px) rotateY(10deg);
		        transform: perspective(700px) rotateY(10deg);
	}
	87.5% {
		-webkit-transform: perspective(700px) rotateY(-10deg);
		        transform: perspective(700px) rotateY(-10deg);
	}
	100% {
		-webkit-transform: perspective(700px) rotateY(0deg);
		        transform: perspective(700px) rotateY(0deg);
	}
}