/*
a {
	-webkit-animation: mymove 2s infinite;
	animation: mymove 2s infinite;
	-webkit-animation-play-state: paused;
	        animation-play-state: paused;
}
a:hover {
	-webkit-animation-play-state: running;
	        animation-play-state: running;
}
*/

@-webkit-keyframes mymove {
	0% {
		-webkit-transform: perspective(700px) rotateX(0deg) rotateX(0deg);
		        transform: perspective(700px) rotateX(0deg) rotateX(0deg);
	}
	12.5% {
		-webkit-transform: perspective(700px) rotateX(-8deg) rotateX(0deg);
		        transform: perspective(700px) rotateX(-8deg) rotateX(0deg);
	}
	25% {
		-webkit-transform: perspective(700px) rotateX(-8deg) rotateY(-8deg);
		        transform: perspective(700px) rotateX(-8deg) rotateY(-8deg);
	}
	37.5% {
		-webkit-transform: perspective(700px) rotateX(0deg) rotateY(-8deg);
		        transform: perspective(700px) rotateX(0deg) rotateY(-8deg);
	}
	50% {
		-webkit-transform: perspective(700px) rotateX(8deg) rotateY(-8deg);
		        transform: perspective(700px) rotateX(8deg) rotateY(-8deg);
	}
	62.5% {
		-webkit-transform: perspective(700px) rotateX(8deg) rotateY(0deg);
		        transform: perspective(700px) rotateX(8deg) rotateY(0deg);
	}
	75% {
		-webkit-transform: perspective(700px) rotateX(8deg) rotateY(8deg);
		        transform: perspective(700px) rotateX(8deg) rotateY(8deg);
	}
	87.5% {
		-webkit-transform: perspective(700px) rotateX(0deg) rotateY(8deg);
		        transform: perspective(700px) rotateX(0deg) rotateY(8deg);
	}
	100% {
		-webkit-transform: perspective(700px) rotateX(0deg) rotateY(0deg);
		        transform: perspective(700px) rotateX(0deg) rotateY(0deg);
	}
}

/*
@-webkit-keyframes mymove {
	0% {
		-webkit-transform: perspective(700px) rotateX(0deg) rotateX(0deg);
		        transform: perspective(700px) rotateX(0deg) rotateX(0deg);
	}
	12.5% {
		-webkit-transform: perspective(700px) rotateX(-8deg) rotateX(0deg);
		        transform: perspective(700px) rotateX(-8deg) rotateX(0deg);
	}
	25% {
		-webkit-transform: perspective(700px) rotateX(-8deg) rotateY(-8deg);
		        transform: perspective(700px) rotateX(-8deg) rotateY(-8deg);
	}
	37.5% {
		-webkit-transform: perspective(700px) rotateX(0deg) rotateY(-8deg);
		        transform: perspective(700px) rotateX(0deg) rotateY(-8deg);
	}
	50% {
		-webkit-transform: perspective(700px) rotateX(8deg) rotateY(-8deg);
		        transform: perspective(700px) rotateX(8deg) rotateY(-8deg);
	}
	62.5% {
		-webkit-transform: perspective(700px) rotateX(8deg) rotateY(0deg);
		        transform: perspective(700px) rotateX(8deg) rotateY(0deg);
	}
	75% {
		-webkit-transform: perspective(700px) rotateX(8deg) rotateY(8deg);
		        transform: perspective(700px) rotateX(8deg) rotateY(8deg);
	}
	87.5% {
		-webkit-transform: perspective(700px) rotateX(0deg) rotateY(8deg);
		        transform: perspective(700px) rotateX(0deg) rotateY(8deg);
	}
	100% {
		-webkit-transform: perspective(700px) rotateX(0deg) rotateY(0deg);
		        transform: perspective(700px) rotateX(0deg) rotateY(0deg);
	}
}*/
