@font-face {
	src: url("../res/fonts/Titania-Regular.ttf");
	font-family: Titania;
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	vertical-align: middle;
	font-family: Titania, Carnevalee,  Woodenni, Arial, Verdana, sans-serif;
}
h1, h1, h1, h4, h5, h6, h7, p {
	cursor: default;
}
body {
	background: url(../res/back.png);
/*	overflow-x: hidden;*/
}
body>div.wrapper {
	width: 1000px;
	margin: 50px auto;
	padding: 40px 0;
	border-radius: 10px;
	background-color: rgba(216, 141, 92, 0.95);
}
nav {
	max-width: 100%;
	min-width: 1000px;
	height: 60px;
	background-color: rgba(162, 100, 61, 0.95);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: center;
}
nav>div.wrapper {
	width: 1000px;
	height: 60px;
	margin: auto;
	vertical-align: top;
}
nav div.wrapper div {
	position: relative;
	display: inline-block;
	height: 40px;
	width: 19%;
	top: 10px;
	margin-left: 0.83%;
	text-align: center;
	background-color: #cc7e4c;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 1px #804b2a;
	        box-shadow: 0 1px 1px #804b2a;
	-webkit-animation: hor_move 5s infinite;
	animation: hor_move 5s infinite;
	-webkit-animation-play-state: paused;
	        animation-play-state: paused;
}
nav div.wrapper div:hover {
	background-color: #da8b58;
	-webkit-animation-play-state: running;
	        animation-play-state: running;
}
nav div.wrapper div:active {
	background-color: #bb7243;
}
nav div.wrapper div.logo {
	position: inherit;
	vertical-align: top;
	background: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-animation: none;
	        animation: none;
}
nav div.wrapper div.logo img {
	max-width: 100%;
	max-height: 150px;
	padding: 0 2px;
	vertical-align: top;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
nav div.wrapper div a {
	display: block;
	width: 100%;
	height: 100%;
	margin-top: 1px;
	color: #865332;
	text-shadow: 0 1px #d5a07f;
	text-decoration: none;
	vertical-align: middle;
	line-height: 40px;
	font-size: 30px;
}
.wrapper h1 {
	margin-bottom: 20px;
	text-align: center;
	font-size: 3.5em;
	color: #6b4228;
}